body {
    background-color: darkturquoise;
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    color: black;
    text-align: center;
}
.assign {
    margin: 10px;
    padding: 10px;
    background-color: beige;
    display: flex;
}
.assign img {
    width: 200px;
    padding: 10px;
}

.assign {
    border-radius: 20px;/* curved corners */
}

a:hover {

    text-decoration: none; /*remove underlining on anchors tags */
    color: blueviolet; 
}

a { 
    text-decoration: none;
    color: mediumpurple;
}

.assign img {

    padding: 10px;
    border: 2px blue;
}